* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}

.language-selector {
  appearance: none;
  position: fixed;
  top: 3px;
  right: 3px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 16px;
  padding: 4px;
  cursor: pointer;
  outline: none;
  font-family: inherit;
  transition: all 0.3s ease;
  text-align: center;
}
.language-selector:hover {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.4);
}

.language-selector .option {
  background-color: #1a1a1a;
  color: white;
  padding: 0;
  margin: 0;
  padding-left: 1em;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}


.background {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  /* Hauteur de l'écran */
  background-size: cover;
  /* Redimensionner l'image pour couvrir tout le conteneur */
  background-position: center;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  /* Empêcher le scroll horizontal */
  overflow-x: hidden;

  /* Empêcher le scroll vertical */
  overflow-y: hidden;
}



.App {
  position: relative;
  width: 350px;
  height: 190px;
  background: #faf9f7;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  padding-top: 0%;

}

.App:hover {
  height: 450px;
}

.App:hover .header-component {
  width: 200px;
  height: 120px;
}

.header-component {
  position: absolute;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  width: 250px;
  height: 150px;
  background: #f1efeb;
  border-radius: 20px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
  overflow: hidden;
  transition: 0.5s;
}

.header-component img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 30px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px 0;
  /* align-items: center; */
}

.App .main-component .descriptionTxt {
  transform: translateY(0);
  opacity: 0;
  /* Le contenu est initialement invisible */
  transition: transform 0.5s, opacity 0.5s;
  /* Ajout de transition pour le contenu */
  overflow: hidden;
}

.footer-component {
  overflow: hidden;
}

.App:hover .footer-component {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 35px;
  padding-bottom: 10px;
}


.App:hover .main-component .descriptionTxt,
.App:hover .footer-component {
  transform: translateY(0);
  opacity: 1;
  /* Le contenu devient visible au survol */
}

.App:hover .main-component {
  transform: translateY(0px);
  padding-top: 40px;
}


.main-component h3 {
  font-size: 1.25em;
  font-weight: 500;
  color: #ae7664;
  line-height: 1em;
  margin-top: 90px;
  margin-bottom: 20px;
}


.data1 {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.data2 {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;

}


.RS {
  font-size: 1em;
  color: #555;
  line-height: 1.2em;
  font-weight: 600;
}


/* Ajoutez ces styles CSS à votre fichier App.css */

/* Style pour le composant principal */
.main-component {
  padding: 40px;
  padding-top: 15px;
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
}

@media screen and (max-width: 660px) {
  .main-component {
    padding-top: 12px;
  }

  .diff{
    padding-bottom: 113px;
  }
}

/* Animation pour la description */
.main-component .descriptionTxt {
  font-size: 1em;
  font-weight: 250;
  color: rgb(83, 79, 79);
  line-height: 1.5em;
  opacity: 0;
  /* Initialement caché */
  transform: translateY(30px);
  /* Décalage vers le bas */
  transition: opacity 0.5s, transform 0.5s;
  /* Animation fluide */
}

/* Afficher la description lors du survol */
.App:hover .main-component .descriptionTxt {
  opacity: 1;
  /* Afficher la description au survol */
  transform: translateY(0);
  /* Réinitialiser la transformation */
}

.App:hover .main-component h3 {
  margin-top: 5px
}

.copyright {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: #faceaf43; */
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  color: #391903;

  /* border-top: 1px solid #dee2e6; */
}

.copyright p {
  display: inline-block;
  /* Permet de limiter la largeur de la bordure */
  padding: 5px 10px;
  /* Ajouter un peu d'espace autour du texte */

  text-shadow:
    -0.5px -0.5px 0 #fff,
    0.5px -0.5px 0 #fff,
    -0.5px 0.5px 0 #fff,
    0.5px 0.5px 0 #fff;
  /* Ajouter une bordure blanche autour du texte */
}
